%div(style="min-height:calc(100vh - 150px)")
	%div(class="bg-Void-Walker" style="overflow:hidden;position:absolute;left:20px;right:20px;;top:75px;bottom:10px;pointer-events:none;opacity:0.5")
	%h1
		No Character Found!