%p
	DATATABLES -> JTABLES: JTable sends only the primary key field when deleting and ignores the returned data from server on create/update - This may cause admin UI oddities until workarounds are implemented
%p
	Known Issue: You need to reload child tables after deleting a record within them, otherwise backend will delete/update the wrong records on subsequent changes (TODO: Add event handler to reload table data after a delete action)
%table#item_types.display(style='width:100%')
	%thead
	%tbody
	%tfoot
:javascript
	$('#item_types').jtable({
		title: 'Item Types',
		paging: false,
		sorting: false,
		actions:{
			listAction: '/admin/datasource/item_type?jtable=true',
			createAction: '/admin/editor/item_type?jtable=true&action=create',
			updateAction: '/admin/editor/item_type?jtable=true&action=edit'
		},
		fields:{
			id: {title: '#', key: true, list:true, create: false, edit: false},
			effects: {
				title: 'Statuses',
				width: '5px',
				sorting: false,
				edit: false,
				create: false,
				display: function (statusData) {
					var $button = $('<button class="ui-button ui-widget ui-corner-all ui-button-text-only">Statuses</button>');
					//Open child table when user clicks the button
					$button.click(function () {
						$('#item_types').jtable('openChildTable',
							$button.closest('tr'),
							{
								title: statusData.record.name + ' - Statuses',
								actions: {
									listAction: '/admin/datasource/item_type/' + statusData.record.id + '/statuses?jtable=true',
									deleteAction: '/admin/editor/item_type/' + statusData.record.id + '/statuses?jtable=true&action=remove',
									createAction: '/admin/editor/item_type/' + statusData.record.id + '/statuses?jtable=true&action=create',
								},
								fields: {
									index: {
										key: true,
										list: false
									},
									id: {
										title: 'Name',
										type: 'combobox',
										options: '/admin/statuses_by_id?jtable=true'
									},
									description:{
										title: 'Description',
										edit: false,
										create: false,
										list: true
								    }
								}
							}, function (data) { //opened handler
								data.childTable.jtable('load');
							});
					});
					//Return button to show on the main row
					return $button;
				}
			},
			name: {title: 'Name'},
			category: {title: 'Category', type:'combobox', options: ['alcohol', 'ammo', 'armour', 'clothing', 'component', 'food', 'mundane', 'mystic', 'potion', 'weapon']},
			weight: {title: 'Weight'},
			game_effects: {width:'50%', title: 'Description', create: false, edit: false, list: true}


		}
	});


	$('#item_types').jtable('load');
