%a.ui-button.ui-widget.ui-corner-all.ui-button-text-only(href="/admin/status_effect") Status Effects
%a.ui-button.ui-widget.ui-corner-all.ui-button-text-only(href="/admin/save") Save to Database
%a.ui-button.ui-widget.ui-corner-all.ui-button-text-only(href="/admin/sync") Synchronise Status Effects