%p
	Tile type changes get saved straight away, but aren't sent through to players until they move
%p
	DATATABLES -> JTABLES: JTable sends only the primary key field when deleting and ignores the returned data from server on create/update - This may cause admin UI oddities until workarounds are implemented
%p
	Known issue: Try to avoid adding multiple search odds to a tile for the same item, otherwise it'll break
%p
	Known Issue: You need to reload the statuses child table after deleting a record, otherwise backend will delete/update the wrong records on subsequent changes  (TODO: Add event handler to reload table data after a delete action)
%table#tile_types.display(style='width:100%')
	%thead
	%tbody
	%tfoot
:javascript
	$('#tile_types').jtable({
		title: 'Tile Types',
		paging: false,
		sorting: false,
		actions:{
			listAction: '/admin/datasource/tile_type?jtable=true',
			createAction: '/admin/editor/tile_type?jtable=true&action=create',
			updateAction: '/admin/editor/tile_type?jtable=true&action=edit'
		},
		fields:{
			id: {key: true, list:false},
			effects: {
				title: 'Statuses',
				width: '5px',
				sorting: false,
				edit: false,
				create: false,
				display: function (statusData) {
					var $button = $('<button class="ui-button ui-widget ui-corner-all ui-button-text-only">Statuses</button>');
					//Open child table when user clicks the button
					$button.click(function () {
						$('#tile_types').jtable('openChildTable',
							$button.closest('tr'),
							{
								title: statusData.record.name + ' - Statuses',
								actions: {
									listAction: '/admin/datasource/tile_type/' + statusData.record.id + '/statuses?jtable=true',
									deleteAction: '/admin/editor/tile_type/' + statusData.record.id + '/statuses?jtable=true&action=remove',
									createAction: '/admin/editor/tile_type/' + statusData.record.id + '/statuses?jtable=true&action=create',
								},
								fields: {
									index: {
										key: true,
										list: false
									},
									id: {
										title: 'Name',
										type: 'combobox',
										options: '/admin/statuses_by_id'
									},
									description:{
										title: 'Description',
										edit: false,
										create: false,
										list: true
								    }
								}
							}, function (data) { //opened handler
								data.childTable.jtable('load');
							});
					});
					//Return button to show on the main row
					return $button;
				}
			},
			odds: {
				title: 'Search Odds',
				width: '5px',
				sorting: false,
				edit: false,
				create: false,
				display: function (statusData) {
					var $button = $('<button class="ui-button ui-widget ui-corner-all ui-button-text-only">Search</button>');
					//Open child table when user clicks the button
					$button.click(function () {
						$('#tile_types').jtable('openChildTable',
							$button.closest('tr'),
							{
								title: statusData.record.name + ' - Search Odds',
								actions: {
									listAction: '/admin/datasource/tile_type/' + statusData.record.id + '/search_odds?jtable=true',
									deleteAction: '/admin/editor/tile_type/' + statusData.record.id + '/search_odds?jtable=true&action=remove',
									updateAction: '/admin/editor/tile_type/' + statusData.record.id + '/search_odds?jtable=true&action=edit',
									createAction: '/admin/editor/tile_type/' + statusData.record.id + '/search_odds?jtable=true&action=create',
								},
								fields: {
									id: {
										key:true,
										create: true,
										title: 'Item',
										type: 'combobox',
										options: '/admin/item_types_by_id?jtable=true'
									},
									rate:{
										title: 'Find Weight'
									}
								}
							}, function (data) { //opened handler
								data.childTable.jtable('load');
							});
					});
					return $button;
				}
			},
			name: {title: 'Name'},
			search_rate: {title: 'Search success %'},
			hide_rate: {title: 'Hide success %'},
			description: {title: 'Description', type: 'textarea'},
			css: {width:'1%', title: 'Tile CSS', type:'textarea',display:function(data){
				if(data.record)
				{
					return '<div class="tile" data-type="' + data.record.name + '"></div><style>' + data.record.css + '</style>';
				}
				else
				{
					return '<div class="tile"></div>';
				}
			}},

		}
	});


	$('#tile_types').jtable('load');
