/* You can add global styles to this file, and also import other style files */

.hidden {
  display: none;
}

.pane-header {
  background-color: black;
  color: white;
  margin: 0px;
  padding-left: 5px;
}
