/* You can add global styles to this file, and also import other style files */

.hidden {
  display: none;
}

li {
  list-style: none;
}

.pane-header {
  background-color: black;
  color: white;
  margin: 0px;
  padding-left: 5px;
}

.modal {
  position: absolute;
  top: 10%;
  left: 10%;
  max-height: 80%;
  overflow-y: auto;
  background: white;
  border: 1px solid black;
  padding: 5px;
  right: 10%;
  bottom: 10%;
}

.modal-options {
  position: absolute;
  right: 5px;
  top: 5px;
}
