ul {
  padding: 0;
  width: 100%;
}

.attack {
  display: inline-block;
  border: 1px solid black;
  max-width: calc(50% - 72px);
  padding: 30px;
  margin: 0 5px;
  cursor: crosshair;
}

.attack .name {
  float: left;
  min-width: 20%;
  font-size: 1.5em;
  margin-right: 4px;
}
