:css
	body
	{
		background-color:transparent !important;
	}
	body > div > div:last-child
	{
		width:0px;
		height:0px;
		border:none;
		background-color:transparent;
	}
#slider-container
	#slider
		%figure
			- slides.each do |slide|
				%div(class="#{slide.has_key?(:background) ? 'bg-' + slide[:background].gsub(' ', '-') : ''}")
					%div
						%h1
							= slide[:header]
						= slide[:body]
					- if slide.has_key? :image
						%img(src="#{slide[:image]}")