@import url(https://fonts.googleapis.com/css?family=Raleway|Lustria);

.outlined
{
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color:white
}

html, body
{
	font-size:0.9em;
	min-width:480px;
	background-color:lightgrey;
	position:relative;
	padding:0;
	margin:0;
	font-family: 'Raleway', serif;
}
h1,h2,h3,h4,h5
{
	padding-top:0px;
	margin-top:17px;
	padding-bottom:5px;
	margin-bottom:0px;
	padding-left:5px;
	padding-right:5px;
	clear:left;
	font-family: 'Lustria', serif;
}
.DTTT_button, th, .css-tabs label, .character-select
{
	font-family: 'Lustria', serif;
}

h4 {font-size:12pt;}
#game_loading
{
	text-align:center;
}

.sk-folding-cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	} 25%, 75% {
		  -webkit-transform: perspective(140px) rotateX(0deg);
		  transform: perspective(140px) rotateX(0deg);
		  opacity: 1;
	  } 90%, 100% {
		    -webkit-transform: perspective(140px) rotateY(180deg);
		    transform: perspective(140px) rotateY(180deg);
		    opacity: 0;
	    }
}

@keyframes sk-foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	} 25%, 75% {
		  -webkit-transform: perspective(140px) rotateX(0deg);
		  transform: perspective(140px) rotateX(0deg);
		  opacity: 1;
	  } 90%, 100% {
		    -webkit-transform: perspective(140px) rotateY(180deg);
		    transform: perspective(140px) rotateY(180deg);
		    opacity: 0;
	    }
}
.move_button
{
	opacity:0.5;
	position:absolute;
	bottom:5%;
	left:5%;
	width:90%;
}
#activity_log
{
	overflow:auto;
	height:100px;
	/*font-family:Verdana,Helvetica,Geneva,sans-serif;*/
}
#activity_log a
{
	color:black;
	text-decoration:underline;
}
#activity_log ul
{
	margin-top:0px;
}
.maptile
{
	width:20%;
	height:75px;
	max-width:75px;
	border:1px solid black;
	float:left;
	font-size:70%;
	position:relative;
	box-sizing: border-box;
}
p
{
	padding:0 0 0 0;
	margin:10px 5px 10px 5px;
}
#js_dialog
{
	display:none;
}
.js_dialog
{
	display:none;
}
.combobox .ui-button { margin-left: -1px; }
.combobox .ui-button-icon-only .ui-button-text { padding: 0.35em; }
.combobox .ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }
.combobox label, #logon_step3_div label { display:inline-block; min-width:200px;}
input[type=radio].charge_attack:checked+label.ui-button
{
	background:#444;color:#EEE;
}
input[type=radio].charge_attack
{
	display:none;
}
.div-30
{
	float:left;
	width:30%;
	margin-left:1%;
}
.div-60
{
	float:left;
	width:60%;
	margin-left:2%;
}
.div-50
{
	float:left;
	margin-left:0.5%;
	margin-right:0.5%;
	width:49%;
}
.div-25
{
	float:left;
	margin-left:0.5%;
	margin-right:0.5%;
	width:24%;
}
.div-75
{
	float:left;
	margin-left:0.5%;
	margin-right:0.5%;
	width:74%;
}
.ui-icon
{
	display:inline-block;
}
.padding-10
{
	padding:10px;
}
.padding-bottom-10
{
	padding-bottom:10px;
}
.margin-10
{
	margin:10px;
}
.margin-vertical-0
{
	margin-top:0;
	margin-bottom:0;
}
.width-max
{
	width:100%;
}
.width-min
{
	width:0%;
	overflow:auto;
}
.width-50
{
	width:50%;
}
.width-165
{
	width:165px;
	overflow:auto;
}
.clear-left
{
	clear:left;
}
.ui-progressbar
{
	height:22px !important;
}
.ui-progressbar-value
{
	background-image: url(../images/pbar-ani.gif) !important;
	background-repeat: both !important;
}
.list-plain,.crafting_recipe ul
{
	list-style-type:none;
	padding-left:10px;
}
.list-horizontal li
{
	list-style-type:none;
	display:inline;
}
.inline-block
{
	display:inline-block;
}
.inline
{
	display:inline;
}
.text-center
{
	text-align:center;
}
.text-centered
{
	text-align: center;
}
a:hover
{
	text-decoration: underline;
}
.inputs-newline input[type=text], .inputs-newline  input[type=password]
{
	display:block;
}
.loading_spinner_parent_relative
{
	position:relative;
}


.log-attack-hit, .log-defend-hit
{
}
.log-defend-miss, .log-defend-hit
{
	color:red;
}
.log-defend-hit
{
	font-weight:bold;
}
.log-died
{
	color:red;
	font-weight:bold;
	text-decoration:underline;
}
.log-player-kill
{
	font-weight:bold;
}
.log-levelup
{

}
.log-respawn
{
}
.log-levelup-self
{
	color:green;
	font-weight:bold;
}



.character-select {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.character-select li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.character-select figure {
	margin: 0;
	position: relative;
}

.character-select figure > img {
	max-width: 100%;
	display: block;
	position: relative;
}

.character-select figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
}

.character-select figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.character-select figcaption > span {
	color: #fff;
	padding-bottom:25px;
	display:inline-block;
}

.character-select figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	/*background: #ed4e6e;
	color: #fff;*/
}
.character-select figcaption a[data-char-link] {
	text-align: center;
	padding: 0;
	border-radius: 0;
	display: inline;
	color: white;
}

.character-select figcaption ul,  .grid figcaption ul li{
	width:100%;
	color:white;
	margin:0px;
	padding:0px
}


.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cs-style-4 figure > div {
	overflow: hidden;
}

.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cs-style-4 figure:hover img,.cs-style-4 figure:focus img{
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}



.cs-style-4 figure > div > div {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	width:330px;
}

.cs-style-4 figure:hover > div > div, .cs-style-4 figure:focus > div > div {
	-webkit-transform: translateX(100px);
	-moz-transform: translateX(100px);
	-ms-transform: translateX(100px);
	transform: translateX(100px);
	text-align:right;
}

.cs-style-4 figure:hover > div > div > p > img, .cs-style-4 figure:focus > div > div > p > img {
	float:right;
}


.cs-style-4 figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-4 figure:hover figcaption{
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.character-select li figure figcaption p a, .cs-style-4 figcaption p a
{
	display:inline-block;
}

.character-select li figure > div
{
	background-color:black;
}

.character-select li figure figcaption p
{
	position:absolute;bottom:50px;left:25px;width:300px;
	margin:0 0 0 0;
	padding:0 0 0 0;
}

.character-select div div {position:absolute;top:0px;color:white;font-size:180%;text-shadow:3px 3px 8px black;}
.character-select div div img{width:24px;/*height:3vh*/}


.character-select figure div > img
{
	width:80%;padding:15% 0% 5% 20%;
}

.character-select figure figcaption ul li sup
{
	display:block;
	color:lightgrey;
}

.character-select figcaption ul
{
	height:300px !important;
	overflow:hidden;
}
.character-select figcaption ul::after
{
	position:absolute;
	height:200px;
	width:220px;
	background-image: linear-gradient(to bottom, transparent, black);
	top:200px;
	content:' ';
	color:white;
	display:block;
}




@keyframes unfade {
	0% {opacity:0}
	100% {opacity:1}
}
.anim-unfade
{
	animation: unfade 0.4s ease-out;
}



/* absolution overrides */
.ui-widget-header {
    background: linear-gradient(75deg, #333333, #58585A) repeat scroll 0% 0% transparent;
    border: 0px solid #000;
    color: white;
}
select, .ui-button, input[type="button"], input[type="reset"], input[type="submit"], div.button, button {
    text-decoration: none !important;
    text-align: center;
    font: inherit;
    border-width: 1px;
    border-style: solid;
	border-color:#58585A;
    cursor: pointer;
    overflow: visible;
    color: #58585A;
    background: linear-gradient(90deg, #DDD, #EEE) repeat scroll 0% 0% transparent;
    display: inline-block;
    margin-right: 0.1em;
    border-radius: 2px !important;
}
button:disabled {
	background: repeating-linear-gradient(45deg,#FFADBA,#ffadba 10px,#DDD 10px,#EEE 20px);
	color:black;
}
select
{
	height: 30px;
	padding: 0.4em 1em;
	background: linear-gradient(90deg, #DDD, #EEE) repeat scroll 0% 0% transparent;
}
#target_information .actions select
{
	position:relative;
	top:1px;
	left:-5px;
}
img[src=""]
{
	display:none;
}
#quicklinks
{
	padding: 2px;
	background: linear-gradient(89deg, #58585A, #F3F3F4) repeat scroll 0% 0% transparent;
}
.ui-button
{
	padding:5px 12px !important;
}

.tile
{
	/*width:19.2%;*/
	width:72px;
	height:75px;
	max-width:75px;
	border:1px solid black;
	float:left;
	font-size:70%;
	position:relative;
}

.tile::before
{
	position:absolute;
	right:2px;
	top:2px;
	pointer-events:none;
	display:block;
	content:"";
	width:16px;
	height:16px;
}
.tile::after
{
	position:absolute;
	right:2px;
	bottom:2px;
	pointer-events:none;
	display:block;
	content:"";
	width:16px;
	height:16px;
}
/*
.tile::before
{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYlWNgoAD8R8N4FSHzcSrEpYkok/EqpC4g2lry3QgAgusR7zz7NZgAAAAASUVORK5CYII=) no-repeat;
}

.tile
{
	background-color:lightsteelblue;
}
*/
.tile .occupants, .tile .occupants li
{
	position:absolute;
	pointer-events:none;
	display:block;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	background-position:center center;
	background-repeat:no-repeat;
}
.tile .occupants li:nth-child(2){left:-8px;top:5px;}
.tile .occupants li:nth-child(3){left:8px;top:5px;}

.tile .occupants .character
{
	background-image:url('/img/other.gif');
}

.tile .occupants .character.self
{
	background-image:url('/img/self.gif');
	z-index:2;
}


.css-tabs::after
{
	clear:both;
	content:"";
}


.css-tabs {

	float: none;
	list-style: none;
	position: relative;
	text-align: left;
	background: transparent linear-gradient(75deg, #58585A, lightgrey) repeat scroll 0% 0%;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border:0px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	height:42px;
}
.css-tabs > li {
	float: left;
	display: block;
}
.css-tabs > li > input[type="radio"] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.css-tabs > li > label {
	display: block;;
	font-weight: bold;
	font-size:20px;
	cursor: pointer;
	position: relative;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background: transparent linear-gradient(75deg, grey, #F3F3F4) repeat scroll 0% 0%;
	color: #333;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding: 0px 5px 5px;
	padding-bottom:10px;
	margin-right:2px;
	margin-bottom: 0px;
	clear: left;
}
.css-tabs > li > label:hover {
	background: #F3F3F4;
}
.css-tabs .css-tab-content {
	z-index: 2;
	display: none;
	overflow: hidden;
	width: 100%;
	position: absolute;
	left: 0;
	margin-top:-5px;
}
.css-tabs [id^="css-tab"]:checked + label {
	background: transparent linear-gradient(75deg, #222, #58585A) repeat scroll 0% 0%;
	color:white;
}
.css-tabs [id^="css-tab"]:checked ~ [id^="css-tab-content"] {
	display: block;
}
#tile_occupants_players li::after
{
	margin-right:5px;
	content:", "
}
#tile_occupants_players li:last-child::after
{
	margin-right:0px;
	content:""
}
[data-char-link]
{
	cursor:pointer;
	text-decoration:underline;
}
.hp-widget, .mp-widget
{
	margin-left:2px;
	width:6px;
	height:15px;
	display:inline-block;
	border-radius:5px;
	border:1px solid black;
	position:relative;
	top:3px;
}
.mo-widget
{
	margin-left:2px;
	width:8px;
	height:8px;
	display:inline-block;
	border-radius:10px;
	border:1px solid black;
	position:relative;
	top:2px;
}
.mo-widget[data-state=good]
{
	background-color:white;
}
.mo-widget[data-state=neutral]
{
	background-color:grey;
}
.mo-widget[data-state=evil]
{
	background-color:black;
}
.hp-widget[data-state=low]
{
	background: linear-gradient(to bottom, rgb(0,0,0) 80%,rgb(255,50,50) 80%);
}
.hp-widget[data-state=mid]
{
	background: linear-gradient(to bottom, rgb(0,0,0) 50%,rgb(255,50,50) 50%);
}
.hp-widget[data-state=high]
{
	background: linear-gradient(to bottom, rgb(0,0,0) 20%,rgb(255,50,50) 20%);
}
.hp-widget[data-state=full]
{
	background: linear-gradient(to bottom, rgb(0,0,0) 0%,rgb(255,50,50) 0%);
}
.hp-widget::before, .mp-widget::before {
	font-size: 70%;
	content: attr(title);
	position: relative;
	text-align: center;
}
.hp-widget::before {
	top: -18px;
	left: -8px;
}
.mp-widget::before {
	left: -8px;
	top:10px;
}
.mp-widget[data-state=low]
{
	background: linear-gradient(to bottom, rgb(0,0,0) 80%,rgb(50,50,255) 80%);
}
.mp-widget[data-state=mid]
{
	background: linear-gradient(to bottom, rgb(0,0,0) 50%,rgb(50,50,255) 50%);
}
.mp-widget[data-state=high]
{
	background: linear-gradient(to bottom, rgb(0,0,0) 20%,rgb(50,50,255) 20%);
}
.mp-widget[data-state=full]
{
	background: linear-gradient(to bottom, rgb(0,0,0) 0%,rgb(50,50,255) 0%);
}
#target_information .stats li
{
	clear:left;
}
#target_information .class_image
{
	width:75px;
}
#hud_player_vitals div
{
	float:left;
	border-right:none;
}
#hud_player_vitals div:last-child
{
	float:none;
}
#hud_player_vitals .ui-hud-ap, #hud_player_vitals .ui-hud-mp, #hud_player_vitals .ui-hud-cp, #hud_player_vitals .ui-hud-mo, #hud_player_vitals .ui-hud-hp, #hud_player_vitals .ui-hud-xp
{
	min-width:40px;
	text-align:center;
}
#hud_player_vitals .ui-hud-level, #hud_player_vitals .ui-hud-name
{
	min-width:100px;
	text-align:center;
}
#hud_player_vitals .ui-hud-cp
{
	position:relative;
	cursor:pointer;
}
#hud_player_vitals .ui-hud-cp::after
{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	text-align:center;
	font-size:75%;
	content:"Buy Skills";
}
#hud_player_vitals .ui-hud-cp[data-player-cp="0"]::after
{
	content:"";
}


#skill_tree ul
{
	list-style-type: none;
}
#skill_tree ul li
{
	margin-top:1px;
}
#skill_tree ul li:last-child
{
	margin-bottom:5px;
}

#target_information > div
{
	display:none;
}
#target_information[data-target-type="character"] > div.target-character
{
	display:block;
}
#target_information[data-target-type="tile_dev"] > div.target-tile-dev
{
	display:block;
}
#target_information > div.target-tile-dev textarea
{
	width:80%;
}

#target_information > div.target-character > ul.actions
{
	clear:both;
}

.css-accordion{
	width: 100%;
	text-align: left;
	list-style-type:none;
	padding-left:0px;
}
.css-accordion > li > label{
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:5px;
	width:calc(100% - 5px);
	position: relative;
	z-index: 20;
	display:inline-block;
	cursor: pointer;
	color: #333;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	background: transparent linear-gradient(75deg, #F3F3F4, grey) repeat scroll 0% 0%;
	box-shadow:
			0px 0px 0px 1px rgba(155,155,155,0.3),
			1px 0px 0px 0px rgba(255,255,255,0.9) inset,
			0px 2px 2px rgba(0,0,0,0.1);
}
.css-accordion > li > label:hover{
	background: #F3F3F4;
}
.css-accordion > li > input:checked + label,
.css-accordion > li > input:checked + label:hover{
	background: transparent linear-gradient(75deg, #222, #58585A) repeat scroll 0% 0%;
	color:white;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow:
			0px 0px 0px 1px rgba(155,155,155,0.3),
			0px 2px 2px rgba(0,0,0,0.1);
}
.css-accordion > li > label:hover:after,
.css-accordion > li > input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	/*	background: transparent url(../images/arrow_down.png) no-repeat center center;*/
}
.css-accordion > li > input:checked + label:hover:after{
	/*background-image: url(../images/arrow_up.png);*/
}
.css-accordion > li > input{
	display: none;
}
.css-accordion > li > article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	/*overflow: hidden;
	height: 0px;*/
	display:none;
	position: relative;
	z-index: 10;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.css-accordion > li > input:checked ~ article{
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border:1px solid #58585A;
	display:block;
}
/*.css-accordion > div > input:checked ~ article.ac-small{
	height: 140px;
}
.css-accordion > div > input:checked ~ article.ac-medium{
	height: 180px;
}
.css-accordion > div > input:checked ~ article.ac-large{
	height: 230px;
}*/
#inventory_accordion > li > article > ol, #inventory_accordion > li > article > ul
{
	list-style-type:none;
	padding-left:0px;
}
#inventory_accordion > li > article > ol > li, #inventory_accordion > li > article > ul > li
{
	padding-left:5px;
}
#right_panel
{
	position:absolute;width:375px;height:100%;right:10px;margin-top:15px;padding:10px;
}

#left_panel
{
	position:absolute;height:100%;left:10px;right:405px;padding:10px;
}

/**
 * Just for fun: Wifi icon with pure CSS
 */

.ui-ws-signal {
	padding: 5px 5px 0px;
	margin-top:5px;
	margin-bottom:-10px;
}

.ui-ws-signal, .ui-ws-signal:before {
	display: inline-block;
	border: 10px double transparent;
	border-top-color: grey;
	border-radius: 50%;
}

.ui-ws-signal[data-state=connected], .ui-ws-signal[data-state=connected]:before
{
	animation: ws-connected 2s ease-in-out 2s;
	animation-fill-mode: forwards;
}

.ui-ws-signal + span
{
	position:relative;
	top:-15px;
	left:-5px;
}

.ui-ws-signal[data-state=connected] + span
{
	opacity:1;
	color:green;
	animation: ws-connected 2s ease-in-out 0s;
	animation-fill-mode: forwards;
}

.ui-ws-signal[data-state=disconnected] + span, .ui-ws-signal[data-state=error] + span
{
	transition:opacity 1s;
	opacity:1;
	color:red;
}

.ui-ws-signal[data-state=disconnected] + span:before
{
	content:"Connection lost...";
}
.ui-ws-signal[data-state=connected] + span:before
{
	content:"Connected!";
}
.ui-ws-signal[data-state=error] + span:before
{
	content:"Attempting to reconnect...";
}

.ui-ws-signal[data-state=disconnected], .ui-ws-signal[data-state=disconnected]:before, .ui-ws-signal[data-state=error], .ui-ws-signal[data-state=error]:before
{
	animation: ws-disconnected 1s ease-out 0s infinite alternate;
}

.ui-ws-signal
{
	animation-delay:200ms !important;
}

.ui-ws-signal:before {
	content: '';
	width: 0; height: 0;
}

.ui-ws-signal:hover, .ui-ws-signal:hover:before {
	border-top-color: red;
}

@keyframes ws-disconnected {
	from {border-top-color: red;}
	to {border-top-color: grey;}
}

@keyframes ws-connected {
	0%{border-top-color: grey;opacity:1;}
	30% {border-top-color: green;opacity:1;}
	60%{border-top-color: grey;opacity:0.5;}
	80% {border-top-color: green;opacity:1;}
	100%{border-top-color: green;opacity:0;}
}

#inventory_accordion > li > label > span
{
	display:none;
}
#inventory_accordion > li > article > ol > li > span:first-child, #inventory_accordion > li > label > span:first-child
{
	display:inline-block;
	width:70%;
}
#inventory_accordion > li > article > ol > li > span:nth-child(2), #inventory_accordion > li > input:checked ~ label > span:nth-child(2)
{
	display:inline-block;
	width:20%;
}
#inventory_accordion > li > article > ol > li > span:nth-child(4), #inventory_accordion > li > input:checked ~ label > span:nth-child(4)
{
	display:inline-block;
	width:10%;
}
#inventory_accordion > li > article > ol > li:nth-child(even)
{
	background-color:#F3F3F4;
}

#inventory_accordion > li > article > ol > li > span button
{
	font-size:90%;
	padding: 1px;
	margin:1px;
}

#activity_log > ul > li[data-message-family=ammo-emptied]
{
	color:red;
	font-weight:bold;
}
#activity_log > ul > li[data-message-family=error-exception]
{
	color:black;
	background-color:lightcoral;
	border:3px dashed darkred;
}
.crafting_recipe ul li
{
	list-style-type:none;
	display:inline;
}
.crafting_recipe ul::after
{
	content:'.';
}
.crafting_recipe ul li::before
{
	content:', ';
}
.crafting_recipe ul li:first-child::before
{
	content:'' !important;
}
.crafting_recipe ul li[data-component-missing], .crafting_recipe ul li[data-component-missing]::after
{
	background-color: lightcoral;
}
.crafting_recipe ul li[data-component-missing]::after
{
	content:' (' attr(data-component-missing) ' missing!)';
}
.crafting_recipe ul li[data-component-missing="0"], .crafting_recipe ul li[data-component-missing="0"]::after
{
	background-color: transparent;
}
.crafting_recipe ul li[data-component-missing="0"]::after
{
	content:'';
}
#crafting_recipe_list
{
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
}
.crafting_recipe
{
	flex:1 0 auto;
	min-width:150px;
	max-width:300px;
	order:0;
	position:relative;
	padding-bottom:40px;
}
.crafting_recipe[data-craftable="1"]
{
	order:-1;
}
.crafting_recipe ul
{
	display:inline;
}
.crafting_recipe button, .crafting_recipe .outputs, .crafting_recipe .reagents, .crafting_recipe .catalysts
{
	display:block;
	margin-top:10px;
}
.crafting_recipe button
{
	position:absolute;
	bottom:0px;
}
#activity_log li[data-message-family="debug"]
{
	font-size:75%;
	color:darkred;
	font-style:italic;
}

@media only screen and (max-device-width: 960px)
{
	#tile_occupants_players
	{
		margin-bottom:40px;
	}
}

.bg-Advocate, .bg-Archon, .bg-Conduit, .bg-Corruptor, .bg-Dark-Oppressor, .bg-Defiler,
.bg-Divine-Herald, .bg-Doom-Howler, .bg-Eternal-Soldier, .bg-Holy-Champion, .bg-Infernal-Behemoth,
.bg-Lich, .bg-Lightspeaker, .bg-Myrmidon, .bg-Nexus-Champion, .bg-Paladin, .bg-Pariah, .bg-Revenant,
.bg-Seraph, .bg-Shepherd, .bg-Sorcerer, .bg-Void-Walker, .bg-Wizard, .bg-Wyrm-Master
{
	background-size:cover;
}

.bg-Advocate{background-image: url('/img/class/portrait/Advocate.jpg')}
.bg-Archon{background-image: url('/img/class/portrait/Archon.jpg')}
.bg-Conduit{background-image: url('/img/class/portrait/Conduit.jpg'); background-position:100% 0%}
.bg-Corruptor{background-image: url('/img/class/portrait/Corruptor.jpg')}
.bg-Dark-Oppressor{background-image: url('/img/class/portrait/Dark Oppressor.jpg')}
.bg-Defiler{background-image: url('/img/class/portrait/Defiler.jpg')}
.bg-Divine-Herald{background-image: url('/img/class/portrait/Divine Herald.jpg')}
.bg-Doom-Howler{background-image: url('/img/class/portrait/Doom Howler.jpg')}
.bg-Eternal-Soldier{background-image: url('/img/class/portrait/Eternal Soldier.jpg')}
.bg-Holy-Champion{background-image: url('/img/class/portrait/Holy Champion.jpg')}
.bg-Infernal-Behemoth{background-image: url('/img/class/portrait/Infernal Behemoth.jpg')}
.bg-Lich{background-image: url('/img/class/portrait/Lich.jpg')}
.bg-Lightspeaker{background-image: url('/img/class/portrait/Lightspeaker.jpg')}
.bg-Myrmidon{background-image: url('/img/class/portrait/Myrmidon.jpg')}
.bg-Nexus-Champion{background-image: url('/img/class/portrait/Nexus Champion.jpg')}
.bg-Paladin{background-image: url('/img/class/portrait/Paladin.jpg')}
.bg-Pariah{background-image: url('/img/class/portrait/Pariah.jpg')}
.bg-Revenant{background-image: url('/img/class/portrait/Revenant.jpg')}
.bg-Seraph{background-image: url('/img/class/portrait/Seraph.jpg')}
.bg-Shepherd{background-image: url('/img/class/portrait/Shepherd.jpg')}
.bg-Sorcerer{background-image: url('/img/class/portrait/Sorcerer.jpg'); background-position:100% 0%}
.bg-Void-Walker{background-image: url('/img/class/portrait/Void Walker.jpg')}
.bg-Wizard{background-image: url('/img/class/portrait/Wizard.jpg')}
.bg-Wyrm-Master{background-image: url('/img/class/portrait/Wyrm Master.jpg')}

@media screen and (min-aspect-ratio: 4/3)
{
	.bg-Advocate{ }
	.bg-Archon{background-position:100% 40%}
	.bg-Conduit{}
	.bg-Corruptor{background-position:0% 20%}
	.bg-Dark-Oppressor{}
	.bg-Defiler{background-position:40% 20%}
	.bg-Divine-Herald{background-position:0% 50%}
	.bg-Doom-Howler{}
	.bg-Eternal-Soldier{}
	.bg-Holy-Champion{background-position:0% 0%}
	.bg-Infernal-Behemoth{}
	.bg-Lich{}
	.bg-Lightspeaker{background-position:10% 40%}
	.bg-Myrmidon{background-position:20% 0%}
	.bg-Nexus-Champion{}
	.bg-Paladin{background-position:40% 20%}
	.bg-Pariah{background-position:20% 0%}
	.bg-Revenant{background-position:0% 0%}
	.bg-Seraph{background-position:100% 25%}
	.bg-Shepherd{background-position:50% 0%}
	.bg-Sorcerer{}
	.bg-Void-Walker{background-position:90% 70%}
	.bg-Wizard{background-position:50% 25%}
	.bg-Wyrm-Master{}
}

@media screen and (max-aspect-ratio: 4/3)
{
	.bg-Advocate{ }
	.bg-Archon{background-position:80% 40%}
	.bg-Conduit{}
	.bg-Corruptor{background-position:15% 100%}
	.bg-Dark-Oppressor{}
	.bg-Defiler{background-position:40% 20%}
	.bg-Divine-Herald{}
	.bg-Doom-Howler{}
	.bg-Eternal-Soldier{background-position:20% 0%}
	.bg-Holy-Champion{background-position:20% 0%;background-size:200%;}
	.bg-Infernal-Behemoth{background-position:50% 0%}
	.bg-Lich{}
	.bg-Lightspeaker{background-position:60% 50%}
	.bg-Myrmidon{background-position:20% 0%}
	.bg-Nexus-Champion{background-position:80% 0%}
	.bg-Paladin{background-position:40% 10%}
	.bg-Pariah{background-position:0% 0%}
	.bg-Revenant{background-position:0% 0%}
	.bg-Seraph{background-position:50% 0%}
	.bg-Shepherd{background-position:50% 0%}
	.bg-Sorcerer{}
	.bg-Void-Walker{background-position:100% 100%}
	.bg-Wizard{background-position:70% 0%}
	.bg-Wyrm-Master{}
}

@media screen and (min-aspect-ratio: 4/3) and (max-aspect-ratio: 16/10)
{
	.bg-Holy-Champion{background-size:200%;background-position:10% 0%}
}
@keyframes slidy
{
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}
@keyframes fadey
{
	0% { opacity: 0; visibility:hidden;}
	5% { opacity: 1; visibility:visible;}
	25% { opacity: 1; visibility:visible; }
	30% { opacity: 0; visibility:hidden; }
	100% { opacity: 0;  visibility:hidden;}
}
div#slider { overflow: hidden; width:100vw; height:100vh; position:fixed;left:0px;top:0px; z-index:-1;  }
div#slider figure > div { width: 100%; height:100%; left:0; position:absolute;}
div#slider figure > div > img { width: 100%; object-fit:cover; object-position:0% 0%; height:100%; }
div#slider figure > div > article { z-index:1; position:relative;top:calc(100% - 100px);left:30px; margin-bottom:-500px; height:500px; float:left; }
div#slider figure
{
	position: relative;
	width: 100%;
	margin: 0;
	left: 0;
	text-align: left;
	transition:5s;
	height:100%;
}
div#slider figure > div
{
	animation:40s fadey infinite;
	animation-fill-mode:both;
	transition:opacity 5s;
}
div#slider figure > div:nth-child(1) {animation-delay:0s;}
div#slider figure > div:nth-child(2) {animation-delay:8s}
div#slider figure > div:nth-child(3) {animation-delay:16s}
div#slider figure > div:nth-child(4) {animation-delay:24s}
div#slider figure > div:nth-child(5) {animation-delay:32s}
div#slider figure p
{
	background:rgba(255,255,255,0.7);
	border-radius:5px;
	padding:5px;
}
#slider-container
{
	position:absolute; left:0px; width:100%;
}
#tile_occupants_players li
{
	display:inline-block;
	padding-bottom:15px;
}
#left_panel #activity_log li[data-message-family=debug]
{
	display:none;
}
#alpha_msg:checked ~ #left_panel #activity_log li[data-message-family=debug]
{
	display:block;
}
#debug_mode:checked ~ #left_panel
{
	width:calc(100% - 425px - 30vw);
}
#debug_mode:checked ~ #right_panel
{
	right: calc(30vw + 15px);
}
#debugbar
{
	display:none;
	overflow-y:scroll;
}
#debug_mode:checked ~ #debugbar
{
	position:absolute;
	width:30vw;
	right:20px;
	margin-top:25px;
	padding:10px;
	display:block;
	height:calc(100vh - 300px);
}
#debug_mode
{
	position:absolute;
	top:5px;
	right:100px;
}
label[for=debug_mode]
{
	position:absolute;
	top:5px;
	right:25px;
	color:white;
}
#alpha_msg
{
	position:absolute;
	top:5px;
	right:210px;
}
label[for=alpha_msg]
{
	position:absolute;
	top:5px;
	right:120px;
	color:white;
}
#debugbar ul li.informational, #debugbar ul li.debug, #debugbar ul li.transmitted
{
	overflow: hidden;
	text-overflow: ellipsis;
	height:16px;
	border:1px solid darkslategrey;
}
#debugbar ul li.debug
{
	background-color:lightyellow;
}
#debugbar ul li.informational
{
	background-color:lightcyan;
}
#debugbar ul li.transmitted
{
	background-color:lightgreen;
}
#debugbar ul li:focus
{
	overflow:visible;
	height:auto;
}
#debugbar ul li.error
{
	background-color:lightcoral;
	border:2px solid red;
}
#primary-box > article > h1{ margin-top:0px;}
#primary-box > article{ width:50vw;max-width:500px; z-index:1; position:fixed;top:100px;left:30px;background:rgba(255,255,255,0.7);border-radius:5px;padding:5px;  margin:5px;font-size:16px;}
@media screen and (max-width:640px)
{
	#primary-box > article{ width:90vw;z-index:1; position:fixed;left:5vw;background:rgba(255,255,255,0.7);border-radius:5px;padding:5px;  margin:0px;}
	body #slider figure > div.panel > article
	{
		background:rgba(255,255,255,0.7);border-radius:5px;padding:5px;  margin:5px;
		max-width:80vw;
		height:auto;
	}
}
body #slider figure > div.panel > article
{
	background:rgba(255,255,255,0.7);border-radius:5px;padding:5px;  margin:5px;
	max-width:50vw;
	height:auto;
}
body #slider figure > div.panel > article > h1
{
	margin-top:0px;
}
