input {
  width: calc(100% - 108px);
  padding: 0;
  margin: 0;
  border-width: 2px;
  border-color: initial;
  border-image: initial;
}

button {
  width: 100px;
  padding: 0;
  margin: 0;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}
