table {
  border-spacing: 0;
  border: 1px solid;
  margin-bottom: 20px;
}

tr {
  height: 50px;
}

tr.statuses {
  height: 25px;
}

td, th {
  min-width: 50px;
  text-align: center;
  border: 1px solid;
  margin: 0;
}

.cp a {
  display: block;
}
