<table *ngIf="character">
  <thead>
    <tr>
      <th class="name">
        {{character.name}}
      </th>
      <th class="ap">AP</th>
      <th class="hp">HP</th>
      <th class="mp">MP</th>
      <th class="mo">MO</th>
      <th class="xp">XP</th>
      <th class="cp">
        CP
        <a [routerLink]="[{ outlets: { popup: ['buy-skills'] } }]">Buy skills</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td title="description">
        Level {{character.level}} {{character.nexus_class}}
      </td>
      <td class="ap">{{character.ap}}</td>
      <td class="hp">{{character.hp}}</td>
      <td class="mp">{{character.mp}}</td>
      <td class="mo">{{character.mo}}</td>
      <td class="xp">{{character.xp}}</td>
      <td class="xp">{{character.cp}}</td>
    </tr>
    <tr class="statuses"
      [class.hidden]="!character.visible_statuses.length">
      <td colspan="7">
        <span
          class="status"
          *ngFor="let status of character.visible_statuses"
          [title]="status.description"
        >{{status.name}}</span>
      </td>
    </tr>
  </tbody>
</table>
<a class="inventory-link" [routerLink]="[{ outlets: { popup: ['inventory'] } }]">Inventory</a>
