<div class="options">
  <label>
    Display debug messages
    <input type="checkbox" [(ngModel)]="showDebugMessages">
  </label>
  <label>
    Display packet traffic
    <input type="checkbox" [(ngModel)]="showPacketTraffic">
  </label>
</div>
<app-summary [character]="character | async"></app-summary>
<app-stream-debug [class.hidden]="!showPacketTraffic"></app-stream-debug>
<div>
  <app-map [character]="character | async"></app-map>
  <app-messages [showDebugMessages]="showDebugMessages"></app-messages>
</div>
<app-description [character]="character | async"></app-description>
<app-basic-actions></app-basic-actions>
